# Python
__pycache__/
*.py[oc]
*.pyc
*.pyo
build/
dist/
wheels/
*.egg-info/

# Virtual environments
.venv
venv/

# Environment & secrets
.env

# Database
*.db

# Test cache
.pytest_cache/

# Vital AI specific
vector_db/
